services:
  maintenance-bot:
    image: discord-maintenance-bot
    container_name: maintenance-bot
    environment:
      #suggested to use ${env_vars} in setups like portainer
      DISCORD_BOT_TOKEN: "YOUR_API_BOT_TOKEN_HERE"
      REMINDER_REPEAT_DAYS: "3"
      CHECK_INTERVAL_SECONDS: "14400"
    volumes:
      - maintenance-bot_data:/bot/data

volumes:
  maintenance-bot_data:
    external: true